.main {
    margin: 12px 12px 12px 12px;
}

.right {
    float: right;
}

h6 {
    text-align: center;
}

span {
    font-weight: bold;
}

.card {
    margin: 8px 8px 8px 8px;
}

.btn {
    margin-right: 8px;
}