<div class="main">
    <div class="row">
        <div class="col-md-3">
            <h2>Staking</h2>
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-3">

        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <img src="../../../../assets/img/sport-boxing.JPG" class="img-fluid rounded-start" alt="..."
                    style='height: 125px; width: 125px; object-fit: contain'>

                <div class="card-body">
                    <p class="card-text">Boxing Lottery</p>
                    <p class="card-text">Ends 20/11/2021</p>
                    <div class="row g-0">
                        <div class="col-md-6 divisor-right">
                            <label>Tickets</label><br>
                            <span>- 1 TICKET PER ATHLETE WITH PREFERENCE 'BOXING' </span><br>
                            <span>- 1 TICKET PER 1000 SPT STAKED </span><br>
                        </div>
                        <div class="col-md-5 divisor-margin">
                            <label>Prizes</label><br>
                            <span>- 50 Athletes with:</span><br>
                            <span>Preference: </span>Boxing<br>
                            <span>Strenght: </span>50+<br>
                            <span>Category: </span>Professional/Champion/Legend
                        </div>
                    </div>
                    <br>
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary">Stake</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <img src="../../../../assets/img/sport-swimming.JPG" class="img-fluid rounded-start" alt="..."
                    style='height: 125px; width: 125px; object-fit: contain'>

                <div class="card-body">
                    <p class="card-text">Swimming Ladies Lottery</p>
                    <p class="card-text">Ends 28/11/2021</p>
                    <div class="row g-0">
                        <div class="col-md-6 divisor-right">
                            <label>Tickets</label><br>
                            <span>- 1 TICKET PER 'FEMALE' ATHLETE WITH PREFERENCE 'SWIMMIMG' </span><br>
                            <span>- 1 TICKET PER 1000 SPT STAKED </span>
                        </div>
                        <div class="col-md-5 divisor-margin">
                            <label>Prizes</label><br>
                            <span>- 25 Athletes with:</span><br>
                            <span>Preference: </span>Swimming<br>
                            <span>Gender: </span>Female<br>
                            <span>Category: </span>Professional/Champion/Legend
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary">Stake</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>